.App {
  text-align: center;
}

.dark-blue{
  background: #2E3844;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}
a{
  cursor: pointer;
    text-decoration: none;
}
.gray_car{
    background: #DCE2E9
}
.car-btn{
    background: #32A94C;
    border-radius: 50px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
    width: 180px;
}
